*{
    margin: 0;
    padding: 0;
}
body{
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
}
.calculater{
    width: 300px;
    height: 500px;
    box-shadow: 0 5px 40px black;
    display: flex;
    align-items: ;
}